
{% extends 'base.html'%}

{% block content %}
  <div class="column is-one-third">

    <div class="hero-body">
        <p class="title is-info is-2">Login</p>
    </div>
    <div class="subtitle is-4">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login">
        </form>
    </div>
    <div class="card">
        <div class="card-content">
            <p class="hero is-info is-4">
                <a href="{% url 'password_reset' %}">
                    Reset Password</a>
            </p>
            <p class="hero is-info is-4">
                <a href="{% url 'dwitter:register' %}">
                    Register</a>
            </p>
            <p class="hero is-info is-4">
                <a href="{% url 'social:begin' 'github' %}">
                    Register with Github</a>
            </p>
            <p class="hero is-info is-4">
                <a href="{% url 'social:begin' 'google' %}">
                    Register with Google</a>
            </p>
        </div>

    </div>
  </div>
  </div
{% endblock content %}
